Description

In [5]:
# The code was removed by Watson Studio for sharing.

In [6]:
df_data_1 = pd.read_csv(body)
df_data_1.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [2]:
df = df_data_1

In [3]:
df.tail()

     id first_name last_name                            email  gender
95   96       Adam     Banks  abanks2n@scientificamerican.com    Male
96   97    Antonio  Franklin              afranklin2o@loc.gov    Male
97   98        Joe     Allen           jallen2p@quantcast.com    Male
98   99    Rebecca   Russell         rrussell2q@wordpress.com  Female
99  100      Kathy   Sanchez            ksanchez2r@ebay.co.uk  Female